<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 text-light mt-5">
      <div>
        <h1 class="text-light p-1">change theme</h1>

        <div class="row" *ngFor="let item of custom | keyvalue">
          <div class="col-sm-8">
            <div class="d-flex justify-content-start">
              <div
                class="color-selector m-1"
                [ngStyle]="{ background: item.value }"
              ></div>

              <h2>{{ item.key }}</h2>
            </div>
          </div>
          <div class="col-sm-4">
            <input
              [(colorPicker)]="item.value"
              size="4"
              [ngStyle]="{ background: item.value }"
            />
          </div>
        </div>

        <button class="btn btn-autumn m-1 right" (click)="sendTheme()">
          confirm changes
        </button>

        <h1 class="text-light p-1">our custom themes</h1>

        <button class="btn btn-autumn m-1" (click)="changeTheme('autumn')">
          Autumn
        </button>
        <button class="btn btn-neon m-1" (click)="changeTheme('neon')">
          neon
        </button>
        <button class="btn btn-night m-1" (click)="changeTheme('night')">
          Dark
        </button>
        <button class="btn btn-cream m-1" (click)="changeTheme('cream')">
          cream
        </button>
      </div>
    </div>
    <div class="col-md-4 mt-5 ml-1">
      <button class="btn btn-danger m-1" (click)="view('front')">
        front view
      </button>

      <button class="btn btn-danger m-1" (click)="view('side')">
        side view
      </button>

      <button class="btn btn-danger m-1" (click)="view('laying')">
        laying view
      </button>

      <div id="wrapper">
        <div class="{{ viewClass }}" id="phone_1">
          <iframe [src]="theme | safe" id="frame_1"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
