<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 text-light mt-5">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates,
        placeat dolorem aliquam provident dolore quas, voluptas quia asperiores
        voluptatem sequi voluptatibus, sunt praesentium exercitationem iure
        libero eos eum! Quia, aut.
      </p>
      <div>
        <h1 class="text-danger p-1">change color</h1>

        <button class="btn btn-primary m-1" (click)="primary()">primary</button>
        <button class="btn btn-secondary m-1" (click)="secondary()">
          secondary
        </button>
        <button class="btn btn-success m-1" (click)="success()">success</button>
        <button class="btn btn-danger m-1" (click)="danger()">danger</button>
        <button class="btn btn-warning m-1" (click)="warning()">warning</button>
        <button class="btn btn-info m-1" (click)="info()">info</button>
        <div>
          <h1 class="text-light p-1">random colors</h1>

          <button class="btn btn-light m-1" (click)="random()">random</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-5 ml-1">
      <div id="wrapper">
        <div class="phone view_3" id="phone_3">
          <iframe [src]="color | safe" id="frame_3"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
